*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white : hsla(0, 0%, 100%, 0.75);
--Very-light-gray : hsl(0, 0%, 95%);
}
body{
    font-size: 15px;
    background: var(--Very-light-gray);

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sedans{
    background: var(--Bright-orange);
    color: var(--Transparent-white);
    width: 100%;
    height: 150px;
    padding: 20px;
}

.suvs{
    background: var(--Dark-cyan);
    color: var(--Transparent-white);
    width: 100%;
    height: 150px;
}

.luxury{
    background: var(--Very-dark-cyan);
    color: var(--Transparent-white);
    width: 100%;
    height: 150px;
}

